#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.fetchButton {
    border: #242424 solid 5px;
    color: black;
    width: 200px;
    height: 60px;
    background-color: #fff;
    border-radius: 20px;

    transition: border-color 0.2s, width 0.2s, height 0.2s, transform 67s, border-radius 0.2s;
}

.fetchButton:hover {
    border-color: pink;
    transform: rotate3d(3000, 8000, 1800, 720deg);
    border-radius: 50%;

}